# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
libdivopt.a
divopt.a

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Code::Blocks
*.cbp
*.layout
*.Rhistory
*.so
/bin
*.depend

main.cpp
/tests/c_tests
divopt

# gcov
*.gcno
*.gcda

/documentation
travisci_rsa
tiresias_server
tiresias_tests

# visual studio Code
.vscode/